<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Adding New Staff</h1>
    <div>
        <label for="id">ID</label>
        <input id="id" />
    </div>

    <div>
        <label for="fname">First Name</label>
        <input id="fname" />
    </div>

    <div>
        <label for="lname">Last Name</label>
        <input id="lname" />
    </div>

    <div>
        <label for="salary">Salary</label>
        <input id="salary" type="number"/>
    </div>
</body>
</html>