<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        lang="en">
<head>
    <meta charset="UTF-8">
    <title>Staff Management</title>
</head>
<body>
    <h2>Staff Management</h2>
    <ul>
        <li><a href="/staffs/list" th:href="@{/staffs/list}">List of Staff</a></li>
        <li><a href="/staffs/signup" th:href="@{/staffs/signup}">New Staff</a></li>
        <li><a href="/staffs/update" th:href="@{/staffs/update}">Update Staff</a></li>
        <li><a href="/staffs/delete" th:href="@{/staffs/delete}">Delete Staff</a></li>
    </ul>
</body>
</html>