<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>List All Staff</title>
</head>
<body>

<h2>List Staff</h2>
<table>
  <thead>
  <tr>
    <th> Staff Id </th>
    <th> First Name </th>
    <th> Last Name </th>
    <th> Salary </th>
    <th> Department Id </th>
    <th> Department Name </th>
  </tr>
  </thead>
  <tbody>
  <tr th:if="${staffs.empty}">
    <td colspan="2"> No Staffs Available </td>
  </tr>
  <tr th:each="staff : ${staffs}">
    <td><span th:text="${staff.staffId}"> </span></td>
    <td><span th:text="${staff.fname}"> </span></td>
    <td><span th:text="${staff.lname}"> </span></td>
    <td><span th:text="${staff.salary}"> </span></td>
    <td><span th:text="${staff.department?.deptId}"> </span></td>
    <td><span th:text="${staff.department?.deptName}"> </span></td>
  </tr>
  </tbody>
</table>
<a href = "#" th:href ="@{/}"> Back to Main Menu</a>
</body>
</html>